{% extends 'base.html' %}


{% block content %}
<br>
<div class="center">
    <img class="responsive-img" src="./static/images/fanime.png" alt="">
</div>
<hr>

<!-- showing list of most popular animes sent to us by api -->
<div class="card red center">
    <blockquote>
        <h1 class="title"> TOP ANIME </h1>
    </blockquote>
</div>

<div class="row center">
    {% for api_anime in response.data%}
    <div  class="col s4">
        <a id="ani-pix" href="{% url 'detail' api_anime.id api_anime.attributes.canonicalTitle %}">
            <p class="cat">{{api_anime.attributes.canonicalTitle}}</p>
            <div class="effect">
            <p><img  id="effect-img" class="responsive-img" src="{{api_anime.attributes.posterImage.small}}" alt=""></p>
            </div>
        </a>
    </div>
    {%endfor%}
</div>

<div class="row center">
    {% for api_anime in response.data%}
<div>
    <a id="mobile-pix" href="{% url 'detail' api_anime.id api_anime.attributes.canonicalTitle %}">
        <p class="cat">{{api_anime.attributes.canonicalTitle}}</p>
        <p><img  class="responsive-img" src="{{api_anime.attributes.posterImage.small}}" alt=""></p>
    </a>
</div>
{%endfor%}
</div>
<hr><br><br>

{% endblock %}