{% extends 'base.html' %}


{% block content %}


{% if profile%}
{%for profile in profile%}
<div class="center">
    <div class="card red center">
        <blockquote>
            <h1 class="title">{{profile.name}}'s Profile </h1>
        </blockquote>

    </div>

    {% for photo in profile.photo_set.all %}
    <img id="profile_pic" class="responsive-img" src="{{photo.url}}">
    {% empty %}
    <div class="card-panel red-text center-align">No Profile Picture</div>
    <form action="{% url 'add_photo' profile.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <input type="submit" class="btn red darken-2" value="Upload Photo">

    </form>
    {% endfor %}

    <p style="color:white; font-size:200%;"> Favorite All-Time Anime: <b
            style="color:red;">{{profile.favorite_anime_ever}}</b></p>
    <p style="color:white; font-size:200%;"> About: {{profile.about}}</p>

    <form action="{% url 'profile_update' profile.id %}">
        <button type="submit" class="btn red darken-2">Edit Profile</button>
    </form>
    {%endfor%}
</div>
<hr>
<div class="center">
    <div class="card red center">
        <blockquote>
            <h1 class="title"> FAVORITES </h1>
        </blockquote>

    </div>



<div class="row center">
    {% for anime in user.profile.favs.all%}
    <div  class="col s4">
        <a id="ani-pix" href="{% url 'detail' anime.api_id anime.api_name %}">
            <p class="cat">{{anime.api_name}}</p>
            <div class="effect">
            <p><img  id="effect-img" class="responsive-img" src="{{ anime.api_img }}" alt=""></p>
            </div>
        </a>
    </div>
    {%endfor%}
</div>

<div class="row center">
    {% for anime in user.profile.favs.all%}
<div>
    <a id="mobile-pix" href="{% url 'detail' anime.api_id anime.api_name %}">
        <p class="cat">{{anime.api_name}}</p>
        <p><img  class="responsive-img" src="{{ anime.api_img }}" alt=""></p>
    </a>
</div>
{%endfor%}
</div>
<hr><br><br>

    {% else %}
    <h1>This is your profile page</h1>
    <h2>Please <a href="{% url 'profile_create' %}">create profile</a> to get started</h2>
    {%endif%}
    {% endblock %}