{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fanime</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar-fixed">
            <div class="nav-wrapper black">
                <ul>
                    <li><a href="/" class="center brand-logo "><img src="/static/images/fanime-text.png" alt=""
                                width="250px" height="90%" style="margin-top:3%"></a>
                    </li>
                </ul>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="hide-on-med-and-down">
                    <li class="active"><a href="{% url 'home' %}">
                            <span>HOME</span>
                            <i class="material-icons right red-text">home</i>
                        </a></li>
                    <li><a href="{% url 'random' %}">
                            <span>RANDOM ANIME</span>
                            <i class="material-icons right red-text">shuffle_on</i>

                        </a></li>
                    <li><a href="{% url 'library' %}">
                            <span>ANIME LIBRARY</span>
                            <i class="material-icons right red-text">apps</i>

                        </a></li>
                </ul>
                {% if user.is_authenticated %}
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'logout' %}">
                            <span>LOGOUT</span>
                            <i class="material-icons right red-text">logout</i>

                        </a></li>

                    <li><a href="{% url 'profile' %}">
                            <span>PROFILE</span>
                            <i class="material-icons right red-text">account_circle</i>

                        </a></li>
                </ul>
                {% else %}
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'signup' %}">
                            <span>SIGNUP</span>
                            <i class="material-icons right red-text">person_add</i>

                        </a></li>
                    <li><a href="{% url 'login' %}">
                            <span>LOGIN</span>
                            <i class="material-icons right red-text">login</i>

                        </a></li>
                </ul>
                {% endif %}
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'forum' %}">
                            <span>FORUM</span>
                            <i class="material-icons right red-text">forum</i>

                        </a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li class="active"><a href="{% url 'home' %}">HOME</a></li>
            <li><a href="{% url 'random' %}">RANDOM ANIME</a></li>
            <li><a href="{% url 'library' %}">ANIME LIBRARY</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">LOGOUT</a></li>
            <li><a href="{% url 'profile' %}">PROFILE</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">SIGNUP</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            {%endif%}
        </ul>
    </header>


    <main class="container #424242 grey darken-3">
        {%block content %}
        {%endblock%}
    </main>

    <footer class="page-footer black">
        <div class="right">All Rights Reserved, &copy; 2021 Fanime &nbsp;</div>
    </footer>


</body>

</html>