{% extends 'base.html' %}


{% block content %}
<h1>Home</h1>
<img src="./static/images/fanime.png" alt="">
<hr>

<!-- this does nothing right now but will be used to search anime by name -->
    <form class="col s12">
        <div class="input-field col s6">
          <input id="input_text" type="text">
          <label for="input_text">Search For Anime</label>
      </div>
<!-- sending over the category the user picks to urls -->
<!-- I only had time to add one but it should work the same way for each category -->
<div>
    <h2>Search by genre</h2>
    <form action="{% url 'categories' 'adventure' %}">
        <button type="submit" class="btn">ADVENTURE</button>
    </form>
</div>
<hr>





<!-- showing first list of animes sent to us by api -->
{% for api_anime in response.data%}
<a href="{% url 'detail' api_anime.id %}">
<p>{{api_anime.attributes.canonicalTitle}}</p>
<p><img src="{{api_anime.attributes.posterImage.small}}" alt=""><p>
</a>
{%endfor%}
<hr><br><br>
<!-- give user the ability to go to next page if not on last page -->
{% if page != '16143' %}
<form action="{% url 'next' page %}" >
    <button class="btn">Next Page</button>
</form><br>
<form action="{% url 'last' %}" >
    <button class="btn">Last Page</button>
</form>
{% endif %}


<!-- give user the ability to go back if not on first page -->
{%if page == '16143' %}
<form action="{% url 'previous' page %}" >
    <button class="btn">Previous Page</button>
</form><br>
<form action="{% url 'first' %}" >
    <button class="btn">First Page</button>
</form>
{%endif%}

<!-- Javascript from materialize. I ended up not needing it but im leaving here incase we need later  -->
<script>
    var elems = document.querySelectorAll('select');
    M.FormSelect.init(elems);
</script>
{% endblock %}