{% extends 'base.html' %}


{% block content %}
<h1>Home</h1>
<img src="./static/images/fanime.png" alt="">
{% for i in response.data%}
<a href="{% url 'detail' i.id %}">
<p>{{i.attributes.canonicalTitle}}</p>
<p><img src="{{i.attributes.posterImage.small}}" alt=""><p>
</a>
{%endfor%}
{% if page != '16143' %}
<form action="{% url 'next' page %}" >
    <button>Next Page</button>
</form>
<form action="{% url 'last' %}" >
    <button>Last Page</button>
</form>
{% endif %}


{%if page == '16143' %}
<form action="{% url 'previous' page %}" >
    <button>Previous Page</button>
</form>
<form action="{% url 'first' %}" >
    <button>First Page</button>
</form>
{%endif%}


 <p>{{response.links.first}}</p>
 <p>{{response.links.previous}}</p>
 <a href="">{{response.links.next}}</a>
 <p>{{response.links.last}}</p>


{% endblock %}