{% extends 'base.html' %}


{% block content %}

<div class="center">
    <h1><strong>ALL ANIMES</strong></h1>
</div>
<!-- this does nothing right now but will be used to search anime by name -->
<form class="col s12">
    <div class="input-field col s6">
        <input id="input_text" type="text">
        <label for="input_text">Search For Anime</label>
    </div>
    <!-- sending over the category the user picks to urls -->
    <div class="card">
        <blockquote>
            <h2 class=" black center"><span class="red-text">Search by Genre</span></h2>
        </blockquote>

    </div>


    <div class="row">

        <div class="col s1" style="margin-left: 5%; margin-right:7%;">
            <form action="{% url 'categories' 'adventure' %}">
                <button type="submit" class="btn red darken-3">ADVENTURE</button>
            </form>
        </div>

        <div class="col s1" style="margin-right:4%;">
            <form action="{% url 'categories' 'magic' %}">
                <button type="submit" class="btn red darken-3">MAGIC</button>
            </form>
        </div>

        <div class="col s1" style="margin-right:4%;">
            <form action="{% url 'categories' 'action' %}">
                <button type="submit" class="btn red darken-3">ACTION</button>
            </form>
        </div>

        <div class="col s1" style="margin-right:4%;">
            <form action="{% url 'categories' 'horror' %}">
                <button type="submit" class="btn red darken-3">HORROR</button>
            </form>
        </div>

        <div class="col s1" style="margin-right:4%;">
            <form action="{% url 'categories' 'mecha' %}">
                <button type="submit" class="btn red darken-3">MECHA</button>
            </form>
        </div>

        <div class="col s1" style="margin-right:4%;">
            <form action="{% url 'categories' 'drama' %}">
                <button type="submit" class="btn red darken-3">DRAMA</button>
            </form>
        </div>

        <div class="col s1" style="margin-right:4%;">
            <form action="{% url 'categories' 'comedy' %}">
                <button type="submit" class="btn red darken-3">COMEDY</button>
            </form>
        </div>

    </div>
    <div class="row">
        <div class="col s1" style="margin-left:5%; margin-right:4%;">
            <form action="{% url 'categories' 'thriller' %}">
                <button type="submit" class="btn red darken-3">THRILLER</button>
            </form>
        </div>

        <div class="col s1" style="margin-right:4%;">
            <form action="{% url 'categories' 'sports' %}">
                <button type="submit" class="btn red darken-3">SPORTS</button>
            </form>
        </div>
        <div class="col s1" style="margin-right:1%;">
            <form action="{% url 'categories' 'kids' %}">
                <button type="submit" class="btn red darken-3">KIDS</button>
            </form>
        </div>
        <div class="col s1" style="margin-right:4%;">
            <form action="{% url 'categories' 'romance' %}">
                <button type="submit" class="btn red darken-3">ROMANCE</button>
            </form>
        </div>
        <div class="col s1" style="margin-right:4%;">
            <form action="{% url 'categories' 'violence' %}">
                <button type="submit" class="btn red darken-3">VIOLENCE</button>
            </form>
        </div>
        <div class="col s1" style="margin-right:9%;">
            <form action="{% url 'categories' 'psychological' %}">
                <button type="submit" class="btn red darken-3">PSYCHOLOGICAL</button>
            </form>
        </div>
        <div class="col s1" style="margin-right:4%;">
            <form action="{% url 'categories' 'mystery' %}">
                <button type="submit" class="btn red darken-3">MYSTERY</button>
            </form>
        </div>
    </div>
    <hr>





    <!-- showing first list of animes sent to us by api -->
    <div class="row">
        {% for api_anime in response.data%}
        <div class="col s3">
            <a href="{% url 'detail' api_anime.id %}">
                <p>{{api_anime.attributes.canonicalTitle}}</p>
                <p><img src="{{api_anime.attributes.posterImage.small}}" alt="">
                    <p>
            </a>
        </div>
        {%endfor%}
    </div>
    <hr><br><br>

    <!-- give user the ability to go to next page if not on last page -->
    {% if page != '16143' %}
    <form action="{% url 'next' page %}">
        <button class="btn">Next Page</button>
    </form><br>
    <form action="{% url 'last' %}">
        <button class="btn">Last Page</button>
    </form>
    {% endif %}


    <!-- give user the ability to go back if not on first page -->
    {%if page == '16143' %}
    <form action="{% url 'previous' page %}">
        <button class="btn red">Previous Page</button>
    </form><br>
    <form action="{% url 'first' %}">
        <button class="btn red">First Page</button>
    </form>
    {%endif%}

    <!-- Javascript from materialize. I ended up not needing it but im leaving here incase we need later  -->
    <script>
        var elems = document.querySelectorAll('select');
        M.FormSelect.init(elems);
    </script>
    {% endblock %}