{% extends 'base.html' %}


{% block content %}


    <br>
    <div class="center">
        <img class="responsive-img" src="../static/images/fanime.png" alt="">
    </div>
    <hr>
    
    <div class="card red center">
        <blockquote>
            <h1 class="title"> CATEGORIES </h1>
        </blockquote>
    </div>
    <div class="row">
        <div class="col s4">
            <hr>
            <a class="cat" href="{% url 'categories' 'adventure' %}">Adventure</a><hr>
            <a class="cat" href="{% url 'categories' 'magic' %}">Magic</a><hr>
            <a class="cat" href="{% url 'categories' 'action' %}">Action</a><hr>
            <a class="cat" href="{% url 'categories' 'horror' %}">Horror</a><hr>
        </div>
        <div class="col s4">
            <hr>
            <a class="cat" href="{% url 'categories' 'mecha' %}">Mecha</a><hr>
            <a class="cat" href="{% url 'categories' 'drama' %}">Drama</a><hr>
            <a class="cat" href="{% url 'categories' 'comedy' %}">Comedy</a><hr>
            <a class="cat" href="{% url 'categories' 'thriller' %}">Thriller</a><hr>
        </div>
        <div class="col s4">
            <hr>
            <a class="cat" href="{% url 'categories' 'adventure' %}">Sports</a><hr>
            <a class="cat" href="{% url 'categories' 'magic' %}">Kids</a><hr>
            <a class="cat" href="{% url 'categories' 'action' %}">Romance</a><hr>
            <a class="cat" href="{% url 'categories' 'horror' %}">Violence</a><hr>
        </div>
      </div>
    
        

<!-- showing animes from api -->
<div class="row center">
{% for api_anime in response.data%}
<div class="col s4">
<a id="ani-pix" href="{% url 'detail' api_anime.id api_anime.attributes.canonicalTitle %}">
<p class="cat">{{api_anime.attributes.canonicalTitle}}</p>
            <div class="effect">
            <p><img  id="effect-img" class="responsive-img" src="{{api_anime.attributes.posterImage.small}}" alt=""></p>
            </div>
</a>
</div>
{%endfor%}
</div>
<div class="row center">
        {% for api_anime in response.data%}
    <div>
        <a id="mobile-pix" href="{% url 'detail' api_anime.id api_anime.attributes.canonicalTitle %}">
            <p class="cat">{{api_anime.attributes.canonicalTitle}}</p>
            <p><img  class="responsive-img" src="{{api_anime.attributes.posterImage.small}}" alt=""></p>
        </a>
    </div>
    {%endfor%}
    </div>


<!-- buttons to jump through pages -->
<div class="row">
<form class="left" action="{% url 'first' %}" >
    <button class="btn red darken-2">First Page</button>
</form>
<form class="left" style="margin-left:3%;"action="{% url 'previous' page %}" >
    <button class="btn red darken-2">Previous Page</button>
</form>

<form class="right" style="margin-left:3%;" action="{% url 'last' %}" >
    <button class="btn red darken-2">Last Page</button>

</form>
<form class="right" action="{% url 'next' page %}" >
    <button class="btn red darken-2">Next Page</button>
</form>
</div>
{% endblock %}