body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: none;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }
  h1{
    font-family: 'Alfa Slab One', cursive;

  }

  #library-h1{
    font-family: 'Alfa Slab One', cursive;
    box-shadow: 5px;
    border-radius: 2px;
  }

  #genre-search{
    font-family: 'Alfa Slab One', cursive;

  }
  h1{
    font-family: 'Alfa Slab One', cursive;

  }