body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
   
  
   
    
  }
  
  main {
    flex: 1 0 auto;
  }

  .login:hover{
    text-decoration: underline;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }
  h1{
    font-family: 'Alfa Slab One', cursive;

  }

  .effect{
    overflow:hidden;
    margin: 0 auto;
}
.effect img {
  transition: 0.5s all ease-in-out;
}
.effect:hover img{
  transform: scale(1.1);
}
  .cat{
    color: white;
    font-size: 90%;
  }
  .cat:hover{
    text-decoration: underline;
    color:red;

  }
.title{
  font-size:375%;
}
  #library-h1{
    font-family: 'Alfa Slab One', cursive;
    box-shadow: 5px;
    border-radius: 2px;
  }

  #genre-search{
    font-family: 'Alfa Slab One', cursive;

  }
  h1{
    font-family: 'Alfa Slab One', cursive;

  }
  #mobile-pix{
    display:none;
  }
  @media only screen and (max-width: 1315px) {
    #ani-pix{
     display:none;
    }
    #mobile-pix{
      display:contents;
      
    }
  }

  @media only screen and (max-width: 991px) {

    #cat-btn{
    display:none;
    }

  }

