{% extends 'base.html' %}


{% block content %}



<!-- Next set of animes is now being shown to user -->
<h1>{{category}} Anime</h1>
{% for api_anime in response.data%}
<a href="{% url 'detail' api_anime.id %}">
<p>{{api_anime.attributes.canonicalTitle}}</p>
<p><img src="{{api_anime.attributes.posterImage.small}}" alt=""><p>
</a>
{%endfor%}

<!-- this button will send the user to the next page. and repeat everytime. -->
<form action="{% url 'categories_next' 'category' page %}" >
    <button class="btn red darken-2">Next Page</button>
</form><br>
{% endblock %}

<!-- still need to add previous/first/last button. they basically work the same way -->