{% extends 'base.html' %}


{% block content %}



<!-- Next set of animes is now being shown to user -->
<h1>{{category}} Anime</h1>
<div class="row">
    {% for api_anime in response.data%} 
    <div class="col s4">
    <a href="{% url 'detail' api_anime.id %}">
    <p>{{api_anime.attributes.canonicalTitle}}</p>
    <p><img class="responsive-img" src="{{api_anime.attributes.posterImage.small}}" alt=""><p>
    </a>
    </div>
{%endfor%}
</div>



<!-- this button will send the user to the next page. and repeat everytime. -->


<div class="row">
{%if page != 0%}
<form style="margin-right:3%" class="left" action="{% url 'categories_first' category %}" >

    <button class="btn red darken-2">First Page</button>
</form>

<form class="left" action="{% url 'categories_previous' category page %}" >

    <button class="btn red darken-2">Previous Page</button>
</form>
{%endif%}

<form class="right" action="{% url 'categories_next' category page %}" >

    <button class="btn red darken-2">Next Page</button>
</form>

</div>

{% endblock %}
